<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Black Template</title>
  <meta name="author" content="~">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1 maximum-scale=1 user-scalable=0" />

  <style>
    body,
    html {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #container {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: black;
      touch-action: none; 
      user-select: none; 
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
      cursor: auto;
    }
  </style>

</head>

<body>
  <div id="container">
  </div>
</body>

</html>
